.invitations-list {
  place-self: center;
  max-width: 500px;
  padding: 10px 20px;
  background: cornsilk;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.invitation-element {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}
