.project-page {
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(
    /* -45deg, */ rgb(59, 59, 59),
    rgb(110, 110, 110)
  );
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 10% auto 5%;
}

.project-body {
  height: 100%;
  width: 100%;

  background-color: rgb(110, 110, 110);

  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;

  place-self: center;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  /* grid-template-columns: 5% auto 5%;
  grid-template-rows: 1% 10% auto 10% 1%; */
  grid-template-columns: 3% 1fr 3%;
  grid-template-rows: 1% 13% auto 10% 1%;
}

.error-header {
  color: white;
  place-self: center;
}

.project-header {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  background-color: rgb(59, 59, 59);
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  place-self: center;
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr 2fr 2fr 2fr;
}

.collaborator-list,
.new-project-form,
.update-log {
  /* position: fixed; */
  place-self: center;
  z-index: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.document-display-body.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.bold {
  font-style: oblique;
}

.centred {
  place-self: center;
}

.large-font {
  font-size: 24px;
}

.h-project-code-grid {
  place-self: center;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.document-display-header {
  box-sizing: border-box;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  place-self: center;
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.document-display-header-left {
  place-self: center;
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
  /* display: none; */
}

/* .document-display-header-left.shrunk {
  max-height: 0%;
} */

.document-display-header-centre {
  place-self: center;
  grid-area: 1 / 2 / 2 / 3;
}
.document-display-header-right {
  place-self: center;
  grid-area: 1 / 3 / 2 / 4;
}

.document-display-body {
  width: 100%;
  max-height: 60vh;
  /* place-self: center; */
  grid-area: 3 / 2 / 4 / 3;

  /* display: grid;
  grid-template-rows: auto; */
  overflow: scroll;
}

.document-display-body-right {
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  /* display: grid;
  grid-template-rows: 1fr; */
  /* overflow: scroll; */
}

.document-overview {
  place-self: center;
  padding: 10px 20px;
  background: whitesmoke;
  margin: 5px auto;

  padding-left: 20px;
  padding-right: 20px;
  transition: color 400ms, background 400ms;
}
.document-overview:hover {
  cursor: pointer;
  background: rgb(59, 59, 59);
  color: whitesmoke;
  /* border: green; */
}

.document-overview-static {
  place-self: center;
  padding: 10px 20px;
  background: whitesmoke;
  margin: 5px auto;

  padding-left: 20px;
  padding-right: 20px;
  transition: color 400ms, background 400ms;
}

.selected {
  /* border: rgb(59, 59, 59); */
  background: rgb(156, 156, 156);
  color: whitesmoke;
  /* border-width: 6px;
  border-style: solid; */
}

.document-overview-h3 {
  margin: 3px;
}

.new-document-overview-h3 {
  text-align: center;
  margin: 3px;
}

.document-overview-p {
  margin: 3px;
}

.scroll-container {
  width: 90%;
  height: 100%;
  max-height: 55vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 10px;
  overflow: scroll;
  position: relative;
}

.y-proximity {
  scroll-snap-type: y proximity;
}

.wrapper {
  height: 70%;
}

.element {
  scroll-margin: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.sub {
  color: white;
}

.document-display-body-left {
  place-self: center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.document-display-body-left {
  overflow: scroll;
}

.selected-document-panel {
  /* height: 80%; */
  width: 80%;
  place-self: center;
  padding: 10px 10px;
  /* color: whitesmoke; */
  background: whitesmoke;
  /* background-image: linear-gradient(90deg, rgb(59, 59, 59), rgb(110, 110, 110)); */
  margin: 5px auto;
}

.selected-document {
  height: 90%;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.no-height-div {
  max-height: 0rem;
}
