.container {
  height: 100vh;
  width: 100%;
  background-color: gainsboro;
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 1% 15% auto 10% 1%;
}

.header {
  color: white;
  width: 100%;
  background-color: rgb(0, 139, 139);
  border-radius: 10px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  place-self: center;
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-body {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 139, 139);
  border-radius: 10px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  place-self: center;
  grid-area: 3 / 2 / 4 / 3;
}

.home-body-form {
  position: fixed;
  place-self: center;
  z-index: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.h1 {
  grid-column: 1 / 2;
  place-self: center;
}
.h2 {
  grid-column: 2 / 3;
  place-self: center;
}
.h3 {
  grid-column: 3 / 4;
  place-self: center;
}
.h4 {
  grid-column: 4 / 5;
  place-self: center;
}
.h5 {
  grid-column: 5 / 6;
  place-self: center;
}

.h6 {
  grid-column: 6 / 7;
  place-self: center;
}

.h7 {
  grid-column: 7 / 8;
  place-self: center;
}
