.button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px rgb(10, 97, 97);
  color: white;
  background: transparent;

  margin: 5px;
  transition: 300ms;
  place-self: center;
}

.button:hover {
  color: rgb(10, 97, 97);
  background: white;
  cursor: pointer;
}

.negative {
  border: solid 1px red;
  color: red;
}

.negative:hover {
  color: white;
  background: red;
}

.positive {
  border: solid 1px green;
  color: green;
}

.positive:hover {
  color: white;
  background: green;
}
