.button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px orange;
  color: white;
  background: transparent;

  margin: 5px;
  transition: 300ms;
  place-self: center;
}

.button:hover {
  color: orange;
  background: white;
  cursor: pointer;
}
