.button {
  padding: 10px 20px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px whitesmoke;
  color: whitesmoke;
  background: transparent;

  margin: 5px;
  transition: 300ms;
  place-self: center;
}

.button:hover {
  color: rgb(59, 59, 59);
  background: white;
  cursor: pointer;
}

.negative {
  border: solid 1px red;
  color: red;
}

.negative:hover {
  color: white;
  background: red;
}

.positive {
  border: solid 1px green;
  color: green;
}

.positive:hover {
  color: white;
  background: green;
}
