.project-card {
  background-color: transparent;
  width: 220px;
  height: 150px;
  perspective: 1000px;
  border-radius: 10px;
  padding: 10px;
  place-self: center;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.project-card-static {
  background-color: transparent;
  width: 220px;
  height: 150px;
  perspective: 1000px;
  border-radius: 10px;
  padding: 10px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-card-front {
  background-color: cornsilk;
  color: black;
}

.project-card-back {
  background-color: slategray;
  color: white;
  transform: rotateY(180deg);
}

h3 {
  margin: 12px;
  margin-bottom: 5px;
}

button {
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.project-card-back-grid {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 1px;
}

.left {
  font-weight: bold;
  text-align: left;
}

.right {
  text-align: right;
}
